-# Generate a new comment element using the '_comment' partial and append it to the comment list
-# Then change it to a ckeditor
$(".comment_list").append($("#{escape_javascript(render(:partial => 'comments/comment', :locals => {:comment => @comment}))}").fadeIn("slow"))
$( '.existing_comment' ).ckeditor({readOnly: true});
$(".comment_update_action").hide();

-# Empty the new_comment_textbox and update it so it would remain empty after page refresh.
var editor = $('#new_comment_textbox').ckeditorGet();
editor.setData('');
editor.updateElement();

