- if ((task.categories == nil) or (task.categories.empty?))
  - return

%table.task_category_table
  %tr
    - _MAX_DISPLAYED_CAT = 3
    - cat_index = 0
    - task.categories.each do |category|
      - if (cat_index == _MAX_DISPLAYED_CAT)
        %td.task_category_additional ...
        - break
      - cat_index += 1
      %td.specific_task_category_color{ :class => "task-category-color_#{dom_id(category)}",
      :style => "background:#{category.color}"}
        = truncate(category.name, :length => 10)


