<div class="span-20 ui-widget-content ui-corner-all">
  <div class="prepend-1 span-19">
    <h1>Editing task</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @task %> |
    <%= link_to 'Back', :back %>
  </div>
</div>