<script type="text/javascript" src="/javascripts/jquery-defaultvalue-1.0.js"></script>
<script type="text/javascript" charset="UTF-8">
    $(function()
    {
        // Define the css class your textbox will have, when showing default value
        //$('#new_task_input').setDefaultValue({ css : 'new_task_input'});
        $('#create_new_task_textbox').setDefaultValue({ css: 'quiet' });
    });
</script>



<div class="span-20 ui-widget-content ui-corner-all" style="margin-bottom: 10px;">
  <%= form_for(Task.new, :remote => true)  do |f| %>
      <%= f.text_field :name, :id => "create_new_task_textbox", :style => "width: 300px",
                       :title => "Type here to create a new task..."%>
      <%= submit_tag :add %>
  <% end %>
</div>

<ul class="button_list">
  <div class="span-20" id="task-list">
    <%= render @tasks %>
  </div>
</ul>


