
.center_text {
    text-align: center;
}

.header_logo {
    height: 70px;
    background: url(../images/webtasklogo.png) no-repeat;
}

.header_background { margin-bottom:1em; height:70px; border: 1px solid #4297d7; background: #5c9ccc url(redmond/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }

/*
 task list
*/
.button_list { list-style-type: none; margin: 0; padding: 0; width: 100%; }

.button_list li { margin: 0 3px 3px 3px;
    padding: 0.4em;
    /*font-size: 1.4em; */
    height: 18px;
}

.button_list td.task_drag {
    /*cursor: url(img/openhand.cur), default;*/
    cursor: move;
}

#task-list td#task-content:hover
{
    cursor: pointer;
}

#task-list h3, .sidebar h3  {
    padding: 0.4em;
}

/*
  Sidebar
*/
.sidebar_panel {
    margin-bottom: 0.5em;
}

/*.sidebar {*/
    /*background: #ffffff;*/
    /*height: 250px;*/
/*}*/

/*.menu_item {*/
    /*padding-top: 0.5em;*/
    /*padding-bottom: 0.5em;*/
    /*margin-bottom: 0.25em;*/
    /*margin-top: 0.25em;*/
/*}*/

/*.menu_item a {*/
    /*text-decoration: none;*/
    /*color: #70A8D2;*/
    /*text-align: center;*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/

/*.menu_item:hover {*/
    /*background-color: #e5eCf9;*/
/*}*/

/*.menu_item a:hover {*/
    /*color: #70A8D2;*/
/*}*/

/*
  menu_bar
*/
#menu_bar {
    margin-bottom: 0.5em;
    padding: 0.4em;
}

/*
    create_new_task
*/
#create_new_task_textbox {
    margin-left: 3px;
    height: 25px;
    font-size: 16px;
    background-color: transparent;
    /*border-color: transparent;*/
    border-radius: 3px;
}

/*
  OAuth
*/

#auth_form_content {
    border: #ddd solid 1px;
    padding: 1em;
    margin: 1em;
}

.oauth_buttons a {
    padding: 2px 5px 2px 22px;
    background: no-repeat left;
    font-weight: bold;
    color: #555;
    text-decoration: none;
    border: #ddd solid 1px;
}

.oauth_buttons a:hover {
    border: #555 solid 1px;
    text-decoration: none;
    color: #555;
}

.oauth_buttons a.facebook {
    background-image: url("http://www.google.com/s2/favicons?domain=facebook.com");
}

.oauth_buttons a.google {
    background-image: url("http://www.google.com/s2/favicons?domain=google.com");
}






