.menu_bar {
    background: #e5eCf9;
    margin-bottom: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.center_text {
    text-align: center;
}

.menu_item {
    text-decoration: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #006295;
    color: white;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    margin-bottom: 0.5em;
}

.menu_item:hover {
    background-color: #99ccff;
    color: black;
}

.strikeout {
    text-decoration: line-through;
}

th {
    background-color: #006295;
    color: white;
    font-size: 20px;
    /*padding-left: 4em;*/
    /*padding-right: 3em;*/
}
table {
    border: 1px solid #006295;
    border-collapse: collapse;
}

.alt {
   background: #e5eCf9;
}
/*tr:hover {*/
   /*background: #ddddf7;*/
}