.menu_bar {
    background: #e5eCf9;
    margin-bottom: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.center_text {
    text-align: center;
}

.menu_item {
    text-decoration: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #e5eCf9;
    /*color: white;*/
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    margin-bottom: 0.5em;
}

.menu_item:hover {
    background-color: #99ccff;
}