<%= div_for category do  %>
      <li class="ui-state-default ui-corner-all">
        <table>
          <tbody>
          <tr>
            <td>
              <div style="height:16px;width:16px;background:<%= category.color %>;"></div>
            </td>
            <td id="category_name">
              <%= link_to "", category_path(:id => category.id), :id => "category_link", :style => "visibility: hidden; width: 0px;" %>
              <%= truncate category.name, :length => 18 %>
            </td>
          </tr>
          </tbody>
        </table>
      </li>
<% end %>
