= div_for(category) do
  %li.ui-state-default.ui-corner-all
    %table
      %tbody.ui-state-default
        %tr
          %td{ :style => "width:20px;"}
            %input{ :class => "color {required:false, valueElement:'hiddenColorValue'}",
            :type => "button", :style => "height:18px; width:18px; background:#{category.color};" }
            %input{ :id => "hiddenColorValue", :type => "hidden"}

          -#TODO: remove the id attribute from the tds #category_name #category_menu
          %td
            = link_to category_tasks_path(:category_id => category.id), :id => "category_link" do
              %strong
                = truncate category.name, :length => 16
