.ui-widget-content.ui-corner-all.sidebar_panel

  %table.ui-widget-header.ui-corner-all
    %tbody
      %tr
        %td
          %span.widget_header_text
            Filters

  %ul.button_list
    %li.ui-state-default.ui-corner-all
      = link_to "Open Tasks", tasks_path(:completed => "false")
    %li.ui-state-default.ui-corner-all
      = link_to "Completed Tasks", tasks_path(:completed => "true")
    %li.ui-state-default.ui-corner-all
      = link_to "All tasks", tasks_path