#footer.span-24
  %br/
  %hr/
  .quiet.prepend-10
    Rubinsh's first ROR application
    %br/
    = link_to "Beginning Rails 3", "http://beginningrails.com"
    %br/
    / <span id="call_button"><a href="tel:0528572942" rel="nofollow">Call Rubinsh</a></span>
