<div class="span-6 colborder">
  <h3><%= link_to "Open Tasks", tasks_path(:type => "not_completed") , :class => "center_text sidebar_item span-6" %></h3>
  <br/>
  <h3><%= link_to "Completed Tasks", tasks_path(:type => "completed") , :class => "center_text sidebar_item span-6" %></h3>
  <br/>
  <h3><%= link_to "All tasks", tasks_path , :class => "center_text sidebar_item span-6" %></h3>
</div>