<div class="span-4 sidebar">
  <div class="ui-widget-content ui-corner-all sidebar_panel">
    <h3 class="ui-widget-header ui-corner-all">Filters</h3>
    <div>

      <%= link_to "Open Tasks", tasks_path(:type => "not_completed"), :style => "width: 97%;" %><br/>
      <%= link_to "Completed Tasks", tasks_path(:type => "completed"), :style => "width: 97%;" %><br/>
      <%= link_to "All tasks", tasks_path, :style => "width: 97%;" %>

    </div>

  </div>
  <div class="ui-widget-content ui-corner-all sidebar_panel">
    <h3 class="ui-widget-header ui-corner-all">Categories</h3>
    <div>
    </div>
  </div>
</div>