<div class="span-4 sidebar">
  <div class="sidebar-header">

  </div>
  <div class="menu_item">
    <h3><%= link_to "Open Tasks", tasks_path(:type => "not_completed") , :class => "center_text menu_item" %></h3>
  </div>
  <div class="menu_item">
    <h3><%= link_to "Completed Tasks", tasks_path(:type => "completed") , :class => "center_text menu_item" %></h3>
  </div>
  <div class="menu_item">
    <h3><%= link_to "All tasks", tasks_path , :class => "center_text menu_item" %></h3>
  </div>
</div>